body {
  background: linear-gradient(to bottom, #F5FFF6 0%, #C2BCB7 100%) no-repeat center center fixed;
  height: 100%;
  padding: auto 0;
  margin: 0;
  vertical-align: middle;
  transition: all 1s; 
    -o-transition: all 1s; 
    -moz-transition: all 1s; 
    -webkit-transition: all 1s;
}

div:nth-child(1) {
  width: 100%;
  height: 800px;
  padding: 0;
  background: url("../img/desk.JPG") fixed center no-repeat;
  background-size: cover;
  transition: all 2s; 
    -o-transition: all 2s; 
    -moz-transition: all 2s; 
    -webkit-transition: all 2s;
}

div:nth-child(1) h1 {
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 100px;
  color: white;transition: all 2s; 
    -o-transition: all 2s; 
    -moz-transition: all 2s; 
    -webkit-transition: all 2s;
}

div:nth-child(1) div {
  width: 500px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: all 2s; 
    -o-transition: all 2s; 
    -moz-transition: all 2s; 
    -webkit-transition: all 2s;
}

div:nth-child(1) ul {
  text-align: center;
  padding: 0;
  margin: 30px auto;
  width: 513px;
  transition: all 2s; 
    -o-transition: all 2s; 
    -moz-transition: all 2s; 
    -webkit-transition: all 2s;
}

div:nth-child(1) li {
  display: inline;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
  color: white;
  transition: all 1s; 
    -o-transition: all 1s; 
    -moz-transition: all 1s; 
    -webkit-transition: all 1s;
}

a:link, a:visited, a:hover, a:active {
  color: white;
  font-size: 40px;
  padding: 10px 25px;
  text-decoration: none;
  transition: all 2s; 
    -o-transition: all 2s; 
    -moz-transition: all 2s; 
    -webkit-transition: all 2s;
}

div:nth-child(2) {
  width: 100%;
  height: 800px;
  padding: 0;
  background: url("../img/paper1.jpg") fixed center no-repeat;
  background-size: cover;
  transition: all 2s; 
    -o-transition: all 2s; 
    -moz-transition: all 2s; 
    -webkit-transition: all 2s;
}

div:nth-child(2) h1 {
  padding-top: 100px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 75px;
  color: black;
  transition: all 2s; 
    -o-transition: all 2s; 
    -moz-transition: all 2s; 
    -webkit-transition: all 2s;
}

div:nth-child(2) p {
  width: 800px;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  font-family: 'Merienda', cursive;
  font-size: 30px;
  color: black;
  transition: all 2s; 
    -o-transition: all 2s; 
    -moz-transition: all 2s; 
    -webkit-transition: all 2s;
}

div:nth-child(2) ul {
  padding: 0;
  margin: 30px auto;
  width: 600px;
  transition: all 2s; 
    -o-transition: all 2s; 
    -moz-transition: all 2s; 
    -webkit-transition: all 2s;
}

div:nth-child(2) li {
  text-align: left;
  font-family: 'Merienda', cursive;
  color: black;
  font-size: 25px;
  padding: 10px 25px;
  transition: all 1s; 
    -o-transition: all 1s; 
    -moz-transition: all 1s; 
    -webkit-transition: all 1s;
}

div:nth-child(7) {
  width: 100%;
  height: 400px;
  padding: 0;
  background: url("../img/jump.jpg") fixed center no-repeat;
  background-size: cover;
  transition: all 2s; 
    -o-transition: all 2s; 
    -moz-transition: all 2s; 
    -webkit-transition: all 2s;
}

div:nth-child(7) h1 {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 70px 0px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 65px;
  color: white;
  transition: all 2s; 
    -o-transition: all 2s; 
    -moz-transition: all 2s; 
    -webkit-transition: all 2s;
}

@media screen and (max-width: 1310px) {

  div:nth-child(9) a {
    display: none;
  }

  div:nth-child(9) {
    display: none;
  }

  div:nth-child(8) {
    display: none;
  }

}
































